.spec {margin-bottom:10px;}

.line_a {
	border: 0.3px solid #333;
}
.line_b {
	border: 0.6px solid #333;
}
.line_c {
	border: 0.9px solid #333;
}
.line_d {
	border: 1.2px solid #333;
}
.line_e {
	border: 1.5px solid #333;
}